<mat-sidenav-container class="sidenav-container" (backdropClick)="drawer.toggle()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Bedrijven</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let company of companies" 
        mat-list-item href="#"
        [routerLink]="['/company', company._id]" routerLinkActive="active"  
      >
        {{ company.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Teams
      <button
        type="button"
        style="margin-left: 100px"
        mat-icon-button
        (click)="loginService.logout()"
        >Log uit
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>      
  </mat-sidenav-content>
</mat-sidenav-container>
